body
{
background-color: #D4C8F0;
margin-left:20px
}

h1, h2 {
  color: #624D91;
  font-size: 45pt;
  font-family: georgia;
}
p {
  font-family: monospace;
}

.importante {
  color: white
  font_style: italic
}
